In [1]:
from pprint import pprint
import time
import requests
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import csv
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import adfuller
from sklearn.metrics import mean_squared_error
import math

# S&P500 Data

In [2]:
curr_time = int(time.time())
#prior_year = curr_time-(60*60*24*365)
prior_year=1543622400
ticker_symbol = "^GSPC"

In [3]:

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/get-histories"

querystring = {"region":"US","lang":"en","symbol":ticker_symbol,"from":prior_year,"to":curr_time,"events":"div","events":"split","events":"earn","interval":"1d"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "c9571a29b7msh7dedf518d9ba8b2p1bf4b5jsnec4ec11b7588"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

In [4]:
timestamp = response.json()['chart']['result'][0]['timestamp']
year_close = response.json()['chart']['result'][0]['indicators']['quote'][0]['close']
year_open =response.json()['chart']['result'][0]['indicators']['quote'][0]['open']
year_volume =response.json()['chart']['result'][0]['indicators']['quote'][0]['volume']
year_adjclose =response.json()['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']

    
snpDict = {"Timestamp":timestamp,
           "Open":year_open,
          "Close":year_close,
           "Volume":year_volume,
          "Adjclose":year_adjclose
          }
snp_df = pd.DataFrame(snpDict)

snp_df['Change %'] = ((snp_df['Close']-snp_df['Open'])/snp_df['Open'])*100

convert_date = []
convert_date = [datetime.datetime.utcfromtimestamp(snp_df['Timestamp'][x]).strftime('%Y-%m-%d') for x in range(0,len(snp_df['Timestamp']))]
snp_df['Date'] = convert_date


snp_df['Last Year'] =[datetime.datetime.strptime(snp_df['Date'][x],'%Y-%m-%d')-datetime.timedelta(365) for x in range(0,len(snp_df['Date']))]

snp_df.shape

(329, 8)

In [17]:
volatile_yr_avg = []
yearlyGroups = []
yearlyTimestamp = []

for i in range(0,len(snp_df['Timestamp'])):
    try:
        cond1 = snp_df['Timestamp']<=snp_df['Timestamp'][i]
        cond2 = (pd.Series(snp_df['Timestamp']>=(snp_df['Timestamp'][i]-(365*24*60*60))))
        df = snp_df[cond1 & cond2]
        #print('working')
        if len(df)>251:  #avoids sets less than a full year
            volatile_yr_avg.append(df.std()['Change %']*math.sqrt(len(df))*100) #annual volatility (stdev * sqrt(252))
            yearlyGroups.append(snp_df['Date'][i]) 
            yearlyTimestamp.append(snp_df['Timestamp'][i])
            
    except:
        print('Error Found')
volatile_snp_dict = {"Date":yearlyGroups,
                    "Annual Volatility":volatile_yr_avg,
                     "Timestamp":yearlyTimestamp
                    }
volatile_snp_df = pd.DataFrame(volatile_snp_dict)
volatile_snp_df['Date']=pd.to_datetime(volatile_snp_df['Date'])
volatile_snp_df.shape

(78, 3)

# DJI Index

In [6]:
ticker_symbol = "^DJI"
prior_year=1543622400
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/get-histories"

querystring = {"region":"US","lang":"en","symbol":ticker_symbol,"from":prior_year,"to":curr_time,"events":"div","events":"split","events":"earn","interval":"1d"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "c9571a29b7msh7dedf518d9ba8b2p1bf4b5jsnec4ec11b7588"
    }

response_DJI = requests.request("GET", url, headers=headers, params=querystring)

In [10]:
timestamp = response_DJI.json()['chart']['result'][0]['timestamp']
year_close = response_DJI.json()['chart']['result'][0]['indicators']['quote'][0]['close']
year_open =response_DJI.json()['chart']['result'][0]['indicators']['quote'][0]['open']
year_volume =response_DJI.json()['chart']['result'][0]['indicators']['quote'][0]['volume']
year_adjclose =response_DJI.json()['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']

dji_Dict = {"Timestamp":timestamp,
           "Open":year_open,
          "Close":year_close,
           "Volume":year_volume,
          "Adjclose":year_adjclose
          }
dji_df = pd.DataFrame(dji_Dict)

dji_df['Change %'] = ((dji_df['Close']-dji_df['Open'])/dji_df['Open'])*100

convert_date = []
convert_date = [datetime.datetime.utcfromtimestamp(dji_df['Timestamp'][x]).strftime('%Y-%m-%d') for x in range(0,len(dji_df['Timestamp']))]
dji_df['Date'] = convert_date


dji_df['Last Year'] =[datetime.datetime.strptime(dji_df['Date'][x],'%Y-%m-%d')-datetime.timedelta(365) for x in range(0,len(dji_df['Date']))]


dji_df.shape

(329, 8)

In [16]:
volatile_yr_avg = []
yearlyGroups = []
yearlyTimestamp = []

for i in range(0,len(dji_df['Timestamp'])):
    try:
        cond1 = dji_df['Timestamp']<=dji_df['Timestamp'][i]
        cond2 = (pd.Series(dji_df['Timestamp']>=(dji_df['Timestamp'][i]-(365*24*60*60))))
        df = dji_df[cond1 & cond2]
        #print('working')
        if len(df)>251:  #avoids sets less than a full year
            volatile_yr_avg.append(df.std()['Change %']*math.sqrt(len(df))*100) #annual volatility (stdev * sqrt(252))
            yearlyGroups.append(dji_df['Date'][i]) 
            yearlyTimestamp.append(dji_df['Timestamp'][i])
            
    except:
        print('Error Found')
volatile_dji_dict = {"Date":yearlyGroups,
                    "Annual Volatility":volatile_yr_avg,
                     "Timestamp":yearlyTimestamp
                    }
volatile_dji_df = pd.DataFrame(volatile_dji_dict)
volatile_dji_df['Date']=pd.to_datetime(volatile_dji_df['Date'])
volatile_dji_df.shape

(78, 3)

# Shanghei Market

In [11]:
ticker_symbol = "000001.SS"
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/get-histories"

querystring = {"region":"US","lang":"en","symbol":ticker_symbol,"from":prior_year,"to":curr_time,"events":"div","events":"split","events":"earn","interval":"1d"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "c9571a29b7msh7dedf518d9ba8b2p1bf4b5jsnec4ec11b7588"
    }

response_ssec = requests.request("GET", url, headers=headers, params=querystring)

In [12]:
timestamp = response_ssec.json()['chart']['result'][0]['timestamp']
year_close = response_ssec.json()['chart']['result'][0]['indicators']['quote'][0]['close']
year_open =response_ssec.json()['chart']['result'][0]['indicators']['quote'][0]['open']
year_volume =response_ssec.json()['chart']['result'][0]['indicators']['quote'][0]['volume']
year_adjclose =response_ssec.json()['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']

ssec_Dict = {"Timestamp":timestamp,
           "Open":year_open,
          "Close":year_close,
           "Volume":year_volume,
          "Adjclose":year_adjclose
          }
ssec_df = pd.DataFrame(ssec_Dict)

ssec_df['Change %'] = ((ssec_df['Close']-ssec_df['Open'])/ssec_df['Open'])*100

convert_date = []
convert_date = [datetime.datetime.utcfromtimestamp(ssec_df['Timestamp'][x]).strftime('%Y-%m-%d') for x in range(0,len(ssec_df['Timestamp']))]
ssec_df['Date'] = convert_date


ssec_df['Last Year'] =[datetime.datetime.strptime(ssec_df['Date'][x],'%Y-%m-%d')-datetime.timedelta(365) for x in range(0,len(ssec_df['Date']))]

ssec_df

,Timestamp,Open,Close,Volume,Adjclose,Change %,Date,Last Year
0,1543800600,2647.132080,2654.798096,2.075000e+05,2654.798096,0.289597,2018-12-03,2017-12-03
1,1543887000,2651.561035,2665.958008,1.679000e+05,2665.958008,0.542962,2018-12-04,2017-12-04
2,1543973400,2629.833008,2649.804932,1.545000e+05,2649.804932,0.759437,2018-12-05,2017-12-05
3,1544059800,2629.820068,2605.180908,1.417000e+05,2605.180908,-0.936914,2018-12-06,2017-12-06
4,1544146200,2609.341064,2605.887939,1.091000e+05,2605.887939,-0.132337,2018-12-07,2017-12-07
...,...,...,...,...,...,...,...,...
311,1584581400,2719.406006,2702.129883,3.023000e+05,2702.129883,-0.635290,2020-03-19,2019-03-20
312,1584667800,2727.019043,2745.617920,2.520000e+05,2745.617920,0.682022,2020-03-20,2019-03-21
313,1584927000,2677.590088,2660.169922,2.498000e+05,2660.169922,-0.650591,2020-03-23,2019-03-24
314,1585013400,2703.019043,2722.437988,2.570000e+05,2722.437988,0.718417,2020-03-24,2019-03-25
315,1585119634,2775.303223,2781.591309,1.544643e+09,2781.591309,0.226573,2020-03-25,2019-03-26

In [22]:
volatile_yr_avg = []
yearlyGroups = []
yearlyTimestamp = []

for i in range(0,len(ssec_df['Timestamp'])):
    try:
        cond1 = ssec_df['Timestamp']<=ssec_df['Timestamp'][i]
        cond2 = (pd.Series(ssec_df['Timestamp']>=(ssec_df['Timestamp'][i]-(365*24*60*60))))
        df = ssec_df[cond1 & cond2]
        #print('working')
        if len(df)>237:  #avoids sets less than a full year
            volatile_yr_avg.append(df.std()['Change %']*math.sqrt(len(df))*100) #annual volatility (stdev * sqrt(252))
            yearlyGroups.append(ssec_df['Date'][i]) 
            yearlyTimestamp.append(ssec_df['Timestamp'][i])
            
    except:
        print('Error Found')
volatile_ssec_dict = {"Date":yearlyGroups,
                    "Annual Volatility":volatile_yr_avg,
                     "Timestamp":yearlyTimestamp
                    }
volatile_ssec_df = pd.DataFrame(volatile_ssec_dict)
volatile_ssec_df['Date']=pd.to_datetime(volatile_ssec_df['Date'])
volatile_ssec_df.shape

(77, 3)

# COVID DATA

In [25]:
time_series_2019_ncov_Deaths =pd.read_csv("COVID19_data/time_series_2019-ncov-Deaths.csv")
time_series_2019_ncov_Recovered = pd.read_csv("COVID19_data/time_series_2019-ncov-Recovered.csv")
time_series_2019_ncov_Confirmed = pd.read_csv("COVID19_data/time_series_2019-ncov-Confirmed.csv")
time_series_ncov_Recovered = pd.read_csv("COVID19_data/time_series-ncov-Recovered.csv")
time_series_ncov_Confirmed = pd.read_csv("COVID19_data/time_series-ncov-Confirmed.csv")
time_series_ncov_Deaths = pd.read_csv("COVID19_data/time_series-ncov-Deaths.csv")

In [26]:
#Drop unneeded columns
time_series_ncov_Confirmed =time_series_ncov_Confirmed.drop(columns =['Province/State'])
time_series_ncov_Deaths =time_series_ncov_Deaths.drop(columns =['Province/State'])
time_series_ncov_Recovered =time_series_ncov_Recovered.drop(columns =['Province/State'])

In [27]:
#Removing unecessary rows in each data set

time_series_ncov_Confirmed =time_series_ncov_Confirmed.drop([0], axis = 0)
time_series_ncov_Deaths =time_series_ncov_Deaths.drop([0], axis = 0)
time_series_ncov_Recovered =time_series_ncov_Recovered.drop([0], axis = 0)
time_series_ncov_Deaths.head()



# Changing all value columns to numeric for analysis
time_series_ncov_Confirmed["Value"] = pd.to_numeric(time_series_ncov_Confirmed["Value"])
time_series_ncov_Deaths["Value"] = pd.to_numeric(time_series_ncov_Deaths["Value"])
time_series_ncov_Recovered["Value"] = pd.to_numeric(time_series_ncov_Recovered["Value"])


time_series_ncov_Confirmed["Date"] = pd.to_datetime(time_series_ncov_Confirmed["Date"])
time_series_ncov_Deaths["Date"] = pd.to_datetime(time_series_ncov_Deaths["Date"])
time_series_ncov_Recovered["Date"] = pd.to_datetime(time_series_ncov_Recovered["Date"])

time_series_ncov_Confirmed.dtypes

#Renaming value columns to be easier to analyze

time_series_ncov_Confirmed= time_series_ncov_Confirmed.rename(columns ={'Value':'Confirmed Cases'})
time_series_ncov_Deaths= time_series_ncov_Deaths.rename(columns ={'Value':'Deaths'})
time_series_ncov_Recovered= time_series_ncov_Recovered.rename(columns ={'Value':'Recoveries'})
time_series_ncov_Confirmed.head()

  Country/Region   Lat  Long       Date  Confirmed Cases
1    Afghanistan  33.0  65.0 2020-03-20             24.0
2    Afghanistan  33.0  65.0 2020-03-19             22.0
3    Afghanistan  33.0  65.0 2020-03-18             22.0
4    Afghanistan  33.0  65.0 2020-03-17             22.0
5    Afghanistan  33.0  65.0 2020-03-16             21.0

In [28]:
#Grouping all dataframes by country/region and the date to get total values for each data set

time_series_nconv_Confirmed = time_series_ncov_Confirmed.groupby(['Country/Region','Date']).sum()['Confirmed Cases']
time_series_nconv_Deaths = time_series_ncov_Deaths.groupby(['Country/Region','Date']).sum()['Deaths']
time_series_nconv_Recovered = time_series_ncov_Recovered.groupby(['Country/Region','Date']).sum()['Recoveries']

confirmed_all = pd.DataFrame({
    "Confirmed Cases": time_series_nconv_Confirmed,
    "Deaths": time_series_nconv_Deaths,
    "Recoveries": time_series_nconv_Recovered
})
confirmed_all.head()

                           Confirmed Cases  Deaths  Recoveries
Country/Region Date
Afghanistan    2020-01-22              0.0     0.0         0.0
               2020-01-23              0.0     0.0         0.0
               2020-01-24              0.0     0.0         0.0
               2020-01-25              0.0     0.0         0.0
               2020-01-26              0.0     0.0         0.0

In [31]:
china_df = confirmed_all.loc["China"]
china_df.sort_values(by = "Deaths", ascending = False)
china_df.head()

            Confirmed Cases  Deaths  Recoveries
Date
2020-01-22            548.0    17.0        28.0
2020-01-23            643.0    18.0        30.0
2020-01-24            920.0    26.0        36.0
2020-01-25           1406.0    42.0        39.0
2020-01-26           2075.0    56.0        49.0

In [41]:
china_df = confirmed_all.loc["China"].head()

confirm_count = 0
death_count = 0
recovery_count = 0

confirmed_cases_list = china_df['Confirmed Cases'].to_list()
deaths_list = china_df['Deaths'].to_list()
recoveries_list = china_df['Recoveries'].to_list()

change_confirmed_cases=[]
change_deaths=[]
change_recoveries=[]


for i in confirmed_cases_list:
    if confirm_count==0:
        change_confirmed_cases.append(0)
    else:
        change_confirm = ((i-confirm_count)/confirm_count)*100
        change_confirmed_cases.append(change_confirm)
        

for k in deaths_list:
    if death_count==0:
        change_deaths.append(0)
    else:
        change_dead = ((k-death_count)/death_count)*100
        change_deaths.append(change_dead)
        

for j in recoveries_list:
    if recovery_count==0:
        change_recoveries.append(0)
    else:
        change_recover = ((j-recovery_count)/recovery_count)*100
        change_recoveries.append(change_recover)
        

china_df["% Change Confirm Cases"]= change_confirmed_cases
china_df["% Change Deaths"]= change_deaths
china_df["% Change Recoveries"]= change_recoveries

china_df.sort_values(by = "% Change Confirm Cases", ascending = False)

,Confirmed Cases,Deaths,Recoveries,% Change Confirm Cases,% Change Deaths,% Change Recoveries
Date,,,,,,
2020-01-22,548.0,17.0,28.0,0,0,0
2020-01-23,643.0,18.0,30.0,0,0,0
2020-01-24,920.0,26.0,36.0,0,0,0
2020-01-25,1406.0,42.0,39.0,0,0,0
2020-01-26,2075.0,56.0,49.0,0,0,0

In [47]:
us_df = confirmed_all.loc["US"]
us_df.sort_values(by = "Deaths", ascending = False)
us_df.head()

            Confirmed Cases  Deaths  Recoveries
Date
2020-01-22              1.0     0.0         0.0
2020-01-23              1.0     0.0         0.0
2020-01-24              2.0     0.0         0.0
2020-01-25              2.0     0.0         0.0
2020-01-26              5.0     0.0         0.0

In [48]:
us_df = confirmed_all.loc["US"].head()

confirm_count = 0
death_count = 0
recovery_count = 0

confirmed_cases_list = us_df['Confirmed Cases'].to_list()
deaths_list = us_df['Deaths'].to_list()
recoveries_list = us_df['Recoveries'].to_list()

change_confirmed_cases=[]
change_deaths=[]
change_recoveries=[]


for i in confirmed_cases_list:
    if confirm_count==0:
        change_confirmed_cases.append(0)
    else:
        change_confirm = ((i-confirm_count)/confirm_count)*100
        change_confirmed_cases.append(change_confirm)
        

for k in deaths_list:
    if death_count==0:
        change_deaths.append(0)
    else:
        change_dead = ((k-death_count)/death_count)*100
        change_deaths.append(change_dead)
        

for j in recoveries_list:
    if recovery_count==0:
        change_recoveries.append(0)
    else:
        change_recover = ((j-recovery_count)/recovery_count)*100
        change_recoveries.append(change_recover)
        

us_df["% Change Confirm Cases"]= change_confirmed_cases
us_df["% Change Deaths"]= change_deaths
us_df["% Change Recoveries"]= change_recoveries

us_df.sort_values(by = "% Change Confirm Cases", ascending = False)

,Confirmed Cases,Deaths,Recoveries,% Change Confirm Cases,% Change Deaths,% Change Recoveries
Date,,,,,,
2020-01-22,1.0,0.0,0.0,0,0,0
2020-01-23,1.0,0.0,0.0,0,0,0
2020-01-24,2.0,0.0,0.0,0,0,0
2020-01-25,2.0,0.0,0.0,0,0,0
2020-01-26,5.0,0.0,0.0,0,0,0