In [1]:
from pprint import pprint
import time
import requests
import pandas as pd
from config import rapidapi_key

## S&P 500

In [2]:
curr_time = int(time.time())
prior_year = curr_time-(60*60*24*365)
ticker_symbol = "^GSPC"

In [3]:
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/get-histories"

querystring = {"region":"US","lang":"en","symbol":ticker_symbol,"from":prior_year,"to":curr_time,"events":"div","events":"split","events":"earn","interval":"1d"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidapi_key
    }

response = requests.request("GET", url, headers=headers, params=querystring)

In [4]:
timestamp = response.json()['chart']['result'][0]['timestamp']
year_close = response.json()['chart']['result'][0]['indicators']['quote'][0]['close']
year_open =response.json()['chart']['result'][0]['indicators']['quote'][0]['open']
year_volume =response.json()['chart']['result'][0]['indicators']['quote'][0]['volume']
year_adjclose =response.json()['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']

smpDict = {"Timestamp":timestamp,
           "Open":year_open,
          "Close":year_close,
           "Volume":year_volume,
          "Adjclose":year_adjclose
          }
smp_df = pd.DataFrame(smpDict)
smp_df

      Timestamp         Open        Close      Volume     Adjclose
0    1553175000  2819.719971  2854.879883  3546800000  2854.879883
1    1553261400  2844.520020  2800.709961  4237200000  2800.709961
2    1553520600  2796.010010  2798.360107  3376580000  2798.360107
3    1553607000  2812.659912  2818.459961  3266050000  2818.459961
4    1553693400  2819.719971  2805.370117  3372930000  2805.370117
..          ...          ...          ...         ...          ...
248  1584365400  2508.590088  2386.129883  7781540000  2386.129883
249  1584451800  2425.659912  2529.189941  8358500000  2529.189941
250  1584538200  2436.500000  2398.100098  8755780000  2398.100098
251  1584624600  2393.479980  2409.389893  7946710000  2409.389893
252  1584735601  2431.939941  2304.919922   969130335  2304.919922

[253 rows x 5 columns]

## SSE Composite Index

In [5]:
ticker_symbol = "^SSEC"

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/get-histories"

querystring = {"region":"US","lang":"en","symbol":ticker_symbol,"from":prior_year,"to":curr_time,"events":"div","events":"split","events":"earn","interval":"1d"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidapi_key
    }

response2 = requests.request("GET", url, headers=headers, params=querystring)

In [6]:
timestamp = response2.json()['chart']['result'][0]['timestamp']
year_close = response2.json()['chart']['result'][0]['indicators']['quote'][0]['close']
year_open =response2.json()['chart']['result'][0]['indicators']['quote'][0]['open']
year_volume =response2.json()['chart']['result'][0]['indicators']['quote'][0]['volume']
year_adjclose =response2.json()['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']

sseDict = {"Timestamp":timestamp,
           "Open":year_open,
          "Close":year_close,
           "Volume":year_volume,
          "Adjclose":year_adjclose
          }
sse_df = pd.DataFrame(smpDict)
sse_df

      Timestamp         Open        Close      Volume     Adjclose
0    1553175000  2819.719971  2854.879883  3546800000  2854.879883
1    1553261400  2844.520020  2800.709961  4237200000  2800.709961
2    1553520600  2796.010010  2798.360107  3376580000  2798.360107
3    1553607000  2812.659912  2818.459961  3266050000  2818.459961
4    1553693400  2819.719971  2805.370117  3372930000  2805.370117
..          ...          ...          ...         ...          ...
248  1584365400  2508.590088  2386.129883  7781540000  2386.129883
249  1584451800  2425.659912  2529.189941  8358500000  2529.189941
250  1584538200  2436.500000  2398.100098  8755780000  2398.100098
251  1584624600  2393.479980  2409.389893  7946710000  2409.389893
252  1584735601  2431.939941  2304.919922   969130335  2304.919922

[253 rows x 5 columns]

## Dow Jones Industrial Average

In [7]:
ticker_symbol = "^SSEC"

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/get-histories"

querystring = {"region":"US","lang":"en","symbol":ticker_symbol,"from":prior_year,"to":curr_time,"events":"div","events":"split","events":"earn","interval":"1d"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidapi_key
    }

response3 = requests.request("GET", url, headers=headers, params=querystring)

In [8]:
timestamp = response3.json()['chart']['result'][0]['timestamp']
year_close = response3.json()['chart']['result'][0]['indicators']['quote'][0]['close']
year_open =response3.json()['chart']['result'][0]['indicators']['quote'][0]['open']
year_volume =response3.json()['chart']['result'][0]['indicators']['quote'][0]['volume']
year_adjclose =response3.json()['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']

djiDict = {"Timestamp":timestamp,
           "Open":year_open,
          "Close":year_close,
           "Volume":year_volume,
          "Adjclose":year_adjclose
          }
dji_df = pd.DataFrame(smpDict)
dji_df

      Timestamp         Open        Close      Volume     Adjclose
0    1553175000  2819.719971  2854.879883  3546800000  2854.879883
1    1553261400  2844.520020  2800.709961  4237200000  2800.709961
2    1553520600  2796.010010  2798.360107  3376580000  2798.360107
3    1553607000  2812.659912  2818.459961  3266050000  2818.459961
4    1553693400  2819.719971  2805.370117  3372930000  2805.370117
..          ...          ...          ...         ...          ...
248  1584365400  2508.590088  2386.129883  7781540000  2386.129883
249  1584451800  2425.659912  2529.189941  8358500000  2529.189941
250  1584538200  2436.500000  2398.100098  8755780000  2398.100098
251  1584624600  2393.479980  2409.389893  7946710000  2409.389893
252  1584735601  2431.939941  2304.919922   969130335  2304.919922

[253 rows x 5 columns]